@use "@style/base/variables" as *;

*, :after, :before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    min-width: 1240px;
}

body {
    min-height: 100%;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 600;
    min-width: 1240px;
    color: $black;
    background: linear-gradient(to bottom, #79726E 0%, #4B4B4B 100%);
}

a {
    text-decoration: none;
    transition: color .3s;
    user-select: none;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: color .3s;
}

label {
    user-select: none;
}

input, textarea {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

address {
    font-style: unset;
}

img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    transition: fill .3s;
    path {
        fill: currentColor;
    }
}